<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rainbowexplosion.fightingapp" >

    <application
        android:allowBackup="true"
        android:name="PlayerName"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".select">
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity
            android:name=".stats">

        </activity>
        <activity
            android:name=".monster">

        </activity>
        <activity
            android:name=".fight">

        </activity>
        <activity
            android:name=".setup">

        </activity>
        <activity
            android:name=".MainFightActivity">

        </activity>

    </application>


</manifest>
